In [1]:
import pymongo
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')
df.shape

(50000, 25)

In [3]:
df

,property_id,country,city,property_type,furnishing_status,property_size_sqft,price,constructed_year,previous_owners,rooms,...,customer_salary,loan_amount,loan_tenure_years,monthly_expenses,down_payment,emi_to_income_ratio,satisfaction_score,neighbourhood_rating,connectivity_score,decision
0,50199,Canada,Montreal,Independent House,Unfurnished,2783,972064,1976,0,2,...,21960,619021,30,16965,353043,0.18,2,8,9,0
1,54477,USA,Chicago,Studio,Unfurnished,5456,2723798,2011,6,5,...,42205,1740436,15,14070,983362,0.36,9,3,3,1
2,70488,Australia,Brisbane,Independent House,Fully-Furnished,3891,1245574,1961,2,2,...,11145,1051276,15,3825,194298,0.82,9,4,9,0
3,28338,China,Beijing,Villa,Fully-Furnished,4751,1806095,1985,4,2,...,86140,1204543,25,17410,601552,0.09,2,9,3,0
4,99655,India,Pune,Independent House,Semi-Furnished,2243,334871,1969,0,5,...,9434,149442,20,2301,185429,0.12,10,3,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,12335,Australia,Brisbane,Apartment,Semi-Furnished,939,299511,1992,3,6,...,24305,194842,10,19170,104669,0.09,3,8,3,0
49996,163351,Brazil,SÃ£o Paulo,Townhouse,Semi-Furnished,2607,521030,2015,5,3,...,28382,249640,10,9705,271390,0.10,3,6,2,0
49997,65958,Australia,Melbourne,Apartment,Semi-Furnished,1618,513551,1961,3,5,...,72520,386442,10,18855,127109,0.06,5,2,8,0
49998,195706,USA,New York,Villa,Fully-Furnished,4193,2101127,1961,5,8,...,42270,934891,10,18100,1166236,0.25,2,10,4,0
49999,69974,Australia,Melbourne,Studio,Semi-Furnished,1883,606180,1990,4,2,...,26650,419425,20,5375,186755,0.12,2,5,8,0

In [4]:
data=df.to_dict(orient='records')

In [5]:
client=pymongo.MongoClient("mongodb+srv://gousepakshaikh14112002_db_user:aZxC3JJcMZqoBqkW@cluster0.zi2j3sp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
data_base=client["House"]
collection=data_base["House-Data"]

In [6]:
rec=collection.insert_many(data)